<a href="https://colab.research.google.com/github/LilianeSousa93/Adocao/blob/main/Oficinapython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Olá mundo!")

Olá mundo!

In [2]:
n1=10
n2=5
soma=n1+n2
print(f'O resultado da soma é {soma}')

O resultado da soma é 15

In [3]:
nome1='Talita'
nome2='Luciana'
nome=nome1+nome2
print(nome)

TalitaLuciana

In [4]:
nome1='Talita'
nome2='Luciana'
nome=nome1+nome2
print(f'Nome 1= {nome1}, Nome2= {nome2}, Nome conectado= {nome}')

Nome 1= Talita, Nome2= Luciana, Nome conectado= TalitaLuciana

In [5]:
nome =str(input('Qual o seu nome?\n'))
id=int(input('Qual a sua idade?\n'))
peso=float(input('Qual o seu peso?\n'))
ge=str(input('Qual o seu gênero?\n'))

print(f'Nome: {nome}, Idade: {id}, Peso: {peso}, e Gênero: {ge}')

Qual o seu nome?
Liliane
Qual a sua idade?
30
Qual o seu peso?
62
Qual o seu gênero?
f
Nome: Liliane, Idade: 30, Peso: 62.0, e Gênero: f

In [6]:
n1=float(input('N1: '))
n2=float(input('N2: '))

print(f'Soma é {n1+n2}\n')
print(f'Subtração é {n1-n2}\n')
print(f'Multiplicação é {n1*n2}\n')
print(f'Divisão é {n1/n2}\n')

N1: 2
N2: 3
Soma é 5.0

Subtração é -1.0

Multiplicação é 6.0

Divisão é 0.6666666666666666

In [7]:
sal=float(input('Qual o seu salário?\n'))
print(f'Seu novo salário é R$ {sal+(sal*0.25):.2f}')

Qual o seu salário?
1500
Seu novo salário é R$ 1875.00

In [8]:
import math
n=float(input('Digite um número: '))

print(f'O numero {n} ao quadrado é {n**2}')
print(f'O numero {n} ao cubo é {pow(n,3)}')
print(f'A raiz quadrada do número {n} é {math.sqrt(n):.2f}')
print(f'A raiz cúbica ddo número {n} é {pow(n,1/3):.2f}')

Digite um número: 2
O numero 2.0 ao quadrado é 4.0
O numero 2.0 ao cubo é 8.0
A raiz quadrada do número 2.0 é 1.41
A raiz cúbica ddo número 2.0 é 1.26

In [9]:
import math

raio=float(input('Raio: '))

print(f'\nA área da circunferência é {math.pi * raio**2:.2f}')

Raio: 2

A área da circunferência é 12.57

In [10]:
id=int(input('Digite sua idade: '))
if id>=18:
  print('\nVocê é maior de idade')
else:
  print('\nVocê é menor de idade')

Digite sua idade: 30

Você é maior de idade

In [11]:
a=float(input('Lado A: '))
b=float(input('Lado B: '))
c=float(input('Lado C: '))

if a==b and b==c:
  print('\nTriãngulo Equilátero')
elif a==b or b==c or a==c:
  print('\nTriângulo Isóceles')
else:
  print('\nTriângulo Escaleno')

Lado A: 2
Lado B: 3
Lado C: 2

Triângulo Isóceles

In [12]:
n1=float(input('N1: '))
op=str(input('+,-,*, ou /: '))
n2=float(input('N2: '))

if op=='+' or op=='-' or op=='*' or op=='/':
  if op== '+':
    print(f'Soma {n1+n2}')
  elif op== '-':
    print(f'Subtração {n1-n2}')
  elif op=='*':
    print(f'Multiplicação {n1*n2}')
  else:
    print(f'Divisão: {n1/n2}')
else:
  print('\nOperador inválido')

N1: 2
+,-,*, ou /: +
N2: 2
Soma 4.0

In [13]:
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [14]:
for i in range(11):
  print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10

In [15]:
for i in range(20,41,5):
  print(i)

20
25
30
35
40

In [16]:
for i in range(50,39,-2):
  print(i)

50
48
46
44
42
40

In [17]:
n=int(input('Qual tabuada você quer saber?\n'))

for i in range(11):
  print(f'{n} x {i} = {n*i}')

Qual tabuada você quer saber?
2
2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [22]:
cont=0
for i in range(3):
  preco=float(input('Qual o valor do produto X?\n'))
  if preco<80:
    cont+=1

print(f'{cont} pessoas pagaram menos do que R$80,00 no produto X')

Qual o valor do produto X?
50
Qual o valor do produto X?
39
Qual o valor do produto X?
85
2 pessoas pagaram menos do que R$80,00 no produto X

In [26]:
acum=0
for i in range(3):
  alt=float(input('Qual a sua altura?\n'))
  acum+=alt

med=acum/3
print(f'Altura média da sala {med:.2f}')

Qual a sua altura?
1.50
Qual a sua altura?
1.63
Qual a sua altura?
2.10
Altura média da sala 1.74

In [27]:
acum=0
i=0
while i<3:
  n=int(input('Digite um número: '))
  acum+=n ##acumulador
  i+=1 #contador

med=acum/3
print(med)

Digite um número: 10
Digite um número: 20
Digite um número: 10
13.333333333333334